// Related Posts styling - using same style as post-item
.related-posts {
  margin-top: 3rem;
  padding-top: 2rem;
  border-top: 1px solid $light;
  background-color: transparent;
}

.related-posts-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: $black;
  margin-top: $spacing-full;
  margin-bottom: 0;
  letter-spacing: .03rem;
  background-color: transparent;
}

.related-post-item {
  // Copy exact post-item styles
  display: flex;
  padding-top: 5px;
  padding-bottom: 6px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: transparent;

  &:not(:first-child) {
    border-top: 1px solid $light;
  }

  .related-post-date {
    min-width: 96px;
    color: $black;

    @include media-query($on-mobile) {
      font-size: 16px;
    }
  }

  .related-post-title {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: $base-font-size;
    font-weight: normal;
    letter-spacing: 0.1px;

    @include media-query($on-mobile) {
      max-width: 15rem;
    }

    a {
      color: $text-base-color;
      transition: all 150ms ease-in 0s;

      &:hover,
      &focus {
        color: $black;
      }
    }
  }
}

.no-related-content {
  color: $gray;
  font-style: italic;
  text-align: center;
  padding: 2rem;
}

// Dark mode adjustments - same as post-item dark mode
html.dark .related-posts {
  border-top-color: $dark-light;
}

html.dark .related-posts-title {
  color: $dark-white;
}

html.dark .related-post-item {
  &:not(:first-child) {
    border-top-color: $dark-light;
  }

  .related-post-date {
    color: $dark-white;
  }

  .related-post-title {
    a {
      color: $dark-text-base-color;

      &:hover,
      &focus {
        color: $dark-white;
      }
    }
  }
}

html.dark .no-related-content {
  color: $dark-gray;
}