//////////////// 1. Light Colors ///////////////// 
$text-base-color: #434648; 
$text-link-blue: #003fff; 
$text-link-blue-active: #0036c7; 
$bloquote-border: #c4c8cc; 
$blockquote-text: #525b66; 
$inline-code-text: #333638; 
$inline-code-bg: #d8dbe2; 
$toc-bg: #edecec; 
$go-top-bg: #dfe0e397; 
$go-top-bg-hover: #dfe0e3; 
 
$black: #0d122b; 
$light: #ececec; 
$smoke: #d2c7c7; 
$gray: #6b7886; 
$white: #fff; 
 
//////////////// 2. Dark Colors (True/Pure Dark Theme) ///////////////// 
// Texto base em laranja-amarelo suave para leitura
$dark-text-base-color: #e8d4a0;

// Links em laranja-amarelo vibrante
$dark-text-link-blue: #ffa726;
$dark-text-link-blue-active: #ff9800;

// Blockquotes com borda laranja escura
$dark-bloquote-border: #8b5a00;
$dark-blockquote-text: #d4b483;

// Código inline com fundo quase preto e texto laranja claro
$dark-inline-code-text: #ffb74d;
$dark-inline-code-bg: #0a0a0a;

// Table of contents com fundo dark e acento laranja
$dark-toc-bg: #0f0f0f;

// Botão "go to top" com laranja translúcido
$dark-go-top-bg: #ff9800b3;
$dark-go-top-bg-hover: #ff9800;
 
// Cores base do tema dark puro
$dark-black: #000000;
$dark-white: #e0e0e0;
$dark-light: #0d0d0d;
$dark-smoke: #1a1a1a;
$dark-gray: #4a4a4a;
 
//////////////// 3. Fonts preferences ///////////////// 
$sans-family: Roboto, sans-serif; 
$mono-family: Consolas, monospace; 
$base-font-size: 16px; 
$medium-font-size: $base-font-size * 0.938; 
$small-font-size: $base-font-size * 0.875; 
$base-line-height: 1.85; 
 
// Font weight 
// $light-weight: 300; // uncomment if necessary 
$normal-weight: 400; 
$bold-weight: 700; 
// $black-weight: 900; // uncomment if necessary 
 
//////////////// 4.Responsive design (media queries) ///////////////// 
$wide-size: 890px; 
$narrow-size: 720px; 
 
// Padding unit 
$spacing-full: 30px; 
$spacing-half: $spacing-full / 2; 
 
// Screen sizes 
$on-mobile: 768px; 
$on-tablet: 769px; 
$on-desktop: 1024px; 
$on-widescreen: 1152px; 
 
@mixin media-query($device) { 
    @media screen and (max-width: $device) { 
        @content; 
    } 
} 
 
@mixin relative-font-size($ratio) { 
    font-size: $base-font-size * $ratio; 
} 
 
//////////////// 5. Import all sass files ///////////////// 
 
@import "fonts"; 
@import "base"; 
@import "navbar"; 
@import "layout"; 
@import "post"; 
@import "code"; 
 
@import "tableOfContent"; 
@import "miscellaneous"; 
@import "dark"; 
@import "listpage"; 
@import "custom"; 
 
{{ with .Site.Params.goToTop }} 
@import "goToTop"; 
{{ end }}