/* Tags */
.tag__head {
  margin: 80px 0;

  @media only screen and (max-width: $desktop) {
    margin: 40px 0;
  }
}

.tags__inner {
  margin-bottom: 120px;

  @media only screen and (max-width: $mobile) {
    margin-bottom: 60px;
  }
}

.tag__title {
  margin-bottom: 32px;
  font-size: 46px;
  font-weight: 900;

  @media only screen and (max-width: $mobile) {
    font-size: 32px;
  }
}

.tag__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 80px;
  border-bottom: 1px solid var(--background-alt-color);

  .tag__item {
    margin-right: 12px;
    margin-bottom: 12px;
  
    &:last-child {
      margin-right: 0;
    }
  }
  
  .tag__link {
    display: block;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 8px;
    transition: none;
    background: var(--background-alt-color);

    &:hover {
      color: var(--heading-font-color);
    }
  }

  @media only screen and (max-width: $mobile) {
    padding-bottom: 48px;

    .tag__item {
      margin-right: 8px;
      margin-bottom: 8px;
    }

    .tag__link {
      font-size: 14px;
    }
  }
}

.tag__info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: 1px;
    background: var(--background-alt-color);
    pointer-events: none;
  }

  @media only screen and (max-width: $mobile) {
    &::after {
      content: none;
    }
  }
}

.tag__info-box {
  display: flex;
  align-items: center;
}

.tag__counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;
  border-radius: 8px;
  color: var(--heading-font-color);
  background: var(--background-alt-color);

  span {
    font-family: $heading-font-family;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
  }

  small {
    font-size: 16px;
    font-weight: 500;
  }

  @media only screen and (max-width: $mobile) {
    display: none;
  }
}

.tag__name {
  padding: 50px 20px 50px 20px;
  margin-bottom: 0;
  font-size: 36px;
  text-transform: capitalize;
  background-color: var(--background-color);

  span {
    font-weight: 400;
    color: var(--text-alt-color);
  }

  @media only screen and (max-width: $tablet) {
    font-size: 32px;
  }

  @media only screen and (max-width: $mobile) {
    padding: 32px 12px 32px 0;
    font-size: 26px;
  }
}

.top__link {
  padding-left: 20px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: transparent;
  color: var(--link-color);
  transition: text-decoration .35s;
  background: var(--background-color);

  &:hover {
    text-decoration-color: var(--heading-font-color);
    color: var(--link-color-hover);
  }

  @media only screen and (max-width: $mobile) {
    padding-left: 0;
    font-size: 16px;
  }
}

/* Tag Page */
.archive {
  margin-bottom: 64px;

  @media only screen and (max-width: $mobile) {
    margin-bottom: 0;
  }
}

.archive__box {
  margin: 48px 0;
  text-align: center;

  @media only screen and (max-width: $desktop) {
    margin: 20px 0 40px;
  }
}

.archive__title {
  margin-bottom: 0;
  font-size: 46px;
  line-height: 1.1;
  font-weight: 900;

  @media only screen and (max-width: $mobile) {
    font-size: 32px;
  }
}

.archive__counter {
  font-size: 18px;
  color: var(--text-alt-color);

  @media only screen and (max-width: $mobile) {
    font-size: 16px;
  }
}