<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">

          <div class="hero__left">
            <h1 class="hero__title">{{ .Site.Params.hero.hero__title }}</h1>
            <p class="hero__description">{{ .Site.Params.hero.hero__description }}</p>
            {{ if .Site.Params.mailchimp }}
            <div class="hero__subscribe">
              <form class="subscribe-form validate"
                action="{{ if .Site.Params.mailchimp.mailchimp__identifier }}//{{.Site.Params.mailchimp.mailchimp__identifier}}{{ else }}#{{ end }}"
                method="POST" id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
                <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
                <input class="subscribe-email required email" id="mce-EMAIL" type="text" name="EMAIL"
                  placeholder="{{ if .Site.Params.mailchimp.mailchimp__input__text }}{{ .Site.Params.mailchimp.mailchimp__input__text }}{{ else }}Email address{{ end }}">
                <button class="button button--primary subscribe-button" id="membedded-subscribe" type="submit"
                  name="subscribe">{{ .Site.Params.mailchimp.mailchimp__button__text }}</button>
              </form>
            </div>
            {{ end }}
          </div>

          <div class="hero__right">
            <div class="hero__image">
              <img class="lazy" data-src="{{ .Site.Params.hero.hero__image }}" alt="{{ .Site.Params.hero.hero__title }}">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->