<!-- begin related posts -->
<div class="container">
  <section class="related-posts animate">
    <div class="row">
      <div class="col col-12">
        <div class="container__inner">
          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">You may also like</h2>
              {{ range first 1 ($.GetTerms "tags") }}
                <a href="{{ .Permalink }}" class="section__link related-tag">See all<span> {{ .LinkTitle }}</span></a>
              {{ end }}
              </a>
            </div>
          </div>
          <div class="row">
          {{ range first 3 ( where ( where .Site.Pages.ByDate.Reverse ".Params.tags" "intersect" .Params.tags ) "Permalink" "!=" .Permalink ) }}
            {{ partial "article-content.html" . }}
          {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- end related posts -->