@import 'tailwindcss';
@import '@isyuricunha/ui/styles/preset.css';
@import '@isyuricunha/ui/styles/shiki.css';
@import '@isyuricunha/ui/styles/typography.css';
@source '../../../../packages/ui/src/**/*.{js,jsx,ts,tsx}';

@theme {
  --max-width-8xl: 92rem;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
