<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body data-theme = "{{ .Site.Params.defaultColor }}" class="notransition">
        {{- partial "scriptsBodyStart.html" . -}}
        {{- if and (eq .Kind "page") (eq .Section "posts") }}
            {{- partial "reading-progress.html" . -}}
        {{- end }}
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
        {{- partial "scriptsBodyEnd.html" . -}}
    </body>
</html>
