/* Post + Page */
.post-head,
.page-head {
  margin-bottom: 48px;

  .row {
    align-items: center;
  }

  @media only screen and (max-width: $desktop) {
    margin-bottom: 40px;
  }

  @media only screen and (max-width: $mobile) {
    margin-bottom: 32px;
  }
}

.post-image,
.page-image {
  position: relative;
  transform: translate(0);
  padding-top: 90%;
  min-height: 280px;
  border-radius: 8px;
  overflow: hidden;
  background: var(--background-alt-color);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
  }

  @media only screen and (max-width: $desktop) {
    padding-top: 65%;
    margin-bottom: 40px;
  }

  @media only screen and (max-width: $mobile) {
    margin-bottom: 32px;
  }
}

.page-image {
  padding-top: 56.25%;
  margin-bottom: 48px;

  @media only screen and (max-width: $desktop) {
    margin-bottom: 40px;
  }

  @media only screen and (max-width: $mobile) {
    margin-bottom: 32px;
  }
}

.post-video,
.page-video {
  margin-bottom: 48px;
  border-radius: 8px;
  overflow: hidden;
  transform: translate(0);
  background-color: var(--background-alt-color);

  .post-video__wrap,
  .page-video__wrap {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  @media only screen and (max-width: $desktop) {
    margin-bottom: 40px;
  }

  @media only screen and (max-width: $mobile) {
    margin-bottom: 32px;
  }
}

.post__info {
  margin-left: 44px;

  &.post__info-video {
    max-width: 760px;
    margin: 0 auto;
  }

  @media only screen and (max-width: $desktop) {
    margin-left: 0;
  }
}

.page__info {
  max-width: 760px;
  margin: 0 auto;
}

.post__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  
  .post__tag {
    padding: 12px 16px;
    margin: 4px 8px 4px 0;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    text-transform: capitalize;
    border: none;
    border-radius: 8px;
    color: var(--heading-font-color);
    transition: none;
    background-color: var(--background-alt-color);
  
    &:last-child {
      margin-right: 0;
    }
  }

  @media only screen and (max-width: $mobile) {
    margin-bottom: 16px;
  }
}

.post__title,
.page__title {
  margin-bottom: 24px;
  font-size: 46px;
  line-height: 1.2;
  font-weight: 900;

  @media only screen and (max-width: $mobile) {
    margin-bottom: 20px;
    font-size: 32px;
  }
}

.page__title {
  margin-bottom: 0;
}

.post__meta {
  display: flex;
  align-items: center;
  line-height: 1;

  .post__author-image {
    position: relative;
    transform: translate(0);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
    background-color: var(--background-alt-color);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      user-select: none;
    }
  }

  .post__meta-bottom {
    display: flex;
    flex-direction: column;
  }

  .post__author {
    display: inline-block;
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: transparent;
    color: var(--heading-font-color);
    transition: text-decoration-color .35s;

    &:hover {
      text-decoration-color: var(--heading-font-color);
    }
  }

  .post__date {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-alt-color);
  }
}

.post,
.page {
  max-width: 760px;
  margin: 0 auto 60px;
  color: var(--text-color);

  a {
    font-weight: 500;
    border-bottom: 1px solid var(--border-color);

    &:hover {
      color: var(--link-color);
      border-bottom-color: var(--link-color-hover);
    }
  }

  img, .js-reframe {
    border-radius: 8px;
    overflow: hidden;

    &.lightense-open {
      border-radius: 0;
    }
  }

  img[src$='#wide'] {
    display: block;
    width: 100vw;
    max-width: none;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 0;
    pointer-events: none;
    user-select: none;
  }

  .button {
    border: none;
    text-decoration: none;
  }
}

.post__share {
  .share__list {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .share__item {
    width: 25%;
    margin-right: 8px;
    margin-bottom: 0;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }

  .share__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 54px;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    background: var(--background-alt-color);

    i {
      transition: transform .25s;
      will-change: transform;
    }

    &:hover {
      color: var(--heading-font-color);

      i {
        transform: scale(1.1);
      }
    }
  }
}

/* Related posts */
.related-posts {
  margin-top: 80px;

  .related-tag {
    text-transform: capitalize;
  }

  @media only screen and (max-width: $mobile) {
     margin-top: 60px;

    .row .col:last-child {
      margin-bottom: 0;
    }
  }
}

/* Disqus */
.show-comments {
  margin: 48px 0 32px;
  text-align: center;

  .disqus-button {
    padding: 28px;
    border-radius: 8px;
    text-decoration: underline;
    text-decoration-color: transparent;

    &:hover {
      text-decoration-color: var(--heading-font-color);
    }
  }

  @media only screen and (max-width: $mobile) {
    margin: 60px 0 0;

    .disqus-button {
      padding: 24px;
    }
  }
}

.post__comments {
  max-width: 760px;
  margin: 0 auto;

  &.is-open {
    margin: 0 auto 32px;
  }

  @media only screen and (max-width: $mobile) {
     &.is-open {
       margin: 0 auto;
     }
  }
}

/* 404 */
.error {
  margin-top: 48px;
  text-align: center;

  .error__title {
    margin-bottom: 24px;
    font-size: 100px;
    line-height: 1;
  }

  .error__text {
    margin-bottom: 0;
    color: var(--text-alt-color);
  }
  
  @media only screen and (max-width: $mobile) {
    .error__title {
      font-size: 68px;
    }
  }
}

/* Recent posts */
.recent-posts {
  margin-top: 80px;

  @media only screen and (max-width: $mobile) {
     margin-top: 60px;

    .row .col:last-child {
      margin-bottom: 0;
    }
  }
}