{{/* Umami Analytics */}}
<script defer src="https://cloud.umami.is/script.js" data-website-id="89c8b474-3a62-4ca7-ad30-22cb17535f24"></script>

{{/* Theme transitions CSS */}}
{{ $themeCSS := resources.Get "css/theme-transitions.css" }}
{{ if $themeCSS }}
{{ $themeCSS = $themeCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $themeCSS.RelPermalink }}">
{{ end }}

{{/* Projects page CSS */}}
{{ if eq .Layout "projects" }}
{{ $projectsCSS := resources.Get "css/projects.css" }}
{{ if $projectsCSS }}
{{ $projectsCSS = $projectsCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $projectsCSS.RelPermalink }}">
{{ end }}
{{ end }}