@theme {
  --color-diff-remove: rgba(255, 105, 97, 0.14);
  --color-diff-add: rgba(49, 209, 88, 0.14);
  --color-diff-remove-symbol: var(--syntax-git-deleted);
  --color-diff-add-symbol: var(--syntax-git-added);
}

.shiki span {
  color: var(--shiki-light);
}

.dark .shiki span {
  color: var(--shiki-dark);
}

pre.shiki,
.shiki {
  color: var(--syntax-fg);
}

/* Highlighted, Diff */
pre.shiki .highlighted,
pre.shiki .diff {
  margin: 0 -16px;
  padding: 0 16px;
  display: inline-block;
  min-width: calc(100% + 32px);
  line-height: 20px;
}

pre.shiki .highlighted {
  background-color: var(--syntax-find-match);
}

/* Diff */
.shiki code .diff.remove {
  background-color: var(--color-diff-remove);
}

.shiki code .diff::before {
  position: absolute;
  left: 4px;
}

.shiki code .diff.remove::before {
  content: '-';
  color: var(--color-diff-remove-symbol);
}

.shiki code .diff.add {
  background-color: var(--color-diff-add);
}

.shiki code .diff.add::before {
  content: '+';
  color: var(--color-diff-add-symbol);
}

/* Highlighted word */
.shiki .highlighted-word {
  padding: 1px 2px;
  margin: -1px -3px;
  border: 0.5px solid var(--syntax-bracket-match);
  background-color: var(--syntax-find-match);
  border-radius: 2px;
}

/* Focus */
.shiki.has-focused .line:not(.focused) {
  opacity: 0.7;
  transition:
    filter 0.35s,
    opacity 0.35s;
  filter: blur(0.095rem);
}

.shiki.has-focused:hover .line:not(.focused) {
  filter: blur(0);
  opacity: 1;
}
